body {
  background-color: #F3AA01;
}

@font-face {
  font-family: 'Mosk';
  src: url("fonts/Mosk/Mosk-Light-300.ttf"); /* File to be stored at your site */
  }

div{
  /* border: 1px solid black; */
}

div.body {
  background: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 1100px;
  min-width: 1100px;
  align-items: start;
  margin: auto;
  font-family: "Mosk";
}

div.nav{
  grid-column: 1 / span 3;
  grid-row: 1;
}

/* Each Box */
div.box{
  border-radius: 25px;
  background-color: #EEEEEE;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 10px gray solid;
}

div#funds{
  grid-column: 1 / span 2;
  grid-row: 2;
}

div#dayCount{
  grid-column: 3 / span 1;
  grid-row: 2;
  text-align: right;
}

div#ingredients {
  grid-column: 1 / span 2;
  grid-row: 3;
  border-top: 10px #00b159 solid;
  height: 90%;
}
div#staff{
  grid-column: 3;
  grid-row: 4;
  border-top: 10px #00aedb solid;
  visibility: ;
  height: 90%;
}
div#restaurant{
  grid-column: 1 / span 2;
  grid-row: 4;
  border-top: 10px #d11141 solid;
  height: 90%;
}
div#recipe{
  grid-column: 3;
  grid-row: 3;
  border-top: 10px #ffc425 solid;
  height: 90%;
}
div#research{
  grid-column: 1 / span 3;
  grid-row: 5;
  border-top: 10px #000000 solid;
}

span.react {


}
/**Grid inside sections**/
div.sectionSmall,div.sectionMedium,div.sectionLarge{
  display: grid;
}
div.sectionSmall{
  grid-template-columns: 1fr 1fr 1fr;
}
div.sectionMedium{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.sectionLarge{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

div.sectionHead{
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 5px;
}

div.subsection{
}
div.subsectionCentered{
  text-align: center;
}

div.sectionSpanTwo{
  grid-column: 2/ span 2;
}

div.sectionSpanThree{
  grid-column: 2/ span 4;
  text-align: justify;
}

p.subsectionListHead{
  grid-column: 1/ span 3;
  grid-row: 2;
  font-size: 1em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
}

p.subsectionList{
  height: 20px;
}

/**Bottom**/
div.bottom {
  grid-column: 1/ span 3;
  grid-row: 6;
  text-align: center;
}

a#weebly{
  color: black;
  text-decoration: none;
}
a#weebly:hover{
  color: gray;
  text-decoration: none;
}
