body {
  background-color: lightblue;
}
div.body {
  background: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 1100px;
  min-width: 1100px;
  align-items: start;
  margin: auto;

}

div.nav{
  grid-column: 1 / span 3;
  grid-row: 1;

}

div#funds{
  grid-column: 1 / span 2;
  grid-row: 2;
}

div#dayCount{
  grid-column: 3 / span 1;
  grid-row: 2;
  text-align: right;
}

div#ingredients {
  grid-column: 1 / span 2;
  grid-row: 3 ;
  border-top: 10px #00b159 solid;

}
div#staff{
  grid-column: 3;
  grid-row: 4;
  border-top: 10px #00aedb solid;
}
div#restaurant{
  grid-column: 1 / span 2;
  grid-row: 4;
  border-top: 10px #d11141 solid;
}
div#recipe{
  grid-column: 3;
  grid-row: 3;
  border-top: 10px #ffc425 solid;
}
div#stats{
  grid-column: 1 / span 3;
  grid-row: 5;
  border-top: 10px #000000 solid;
}
/**Grid inside sections**/
div.sectionSmall,div.sectionMedium,div.sectionLarge{
  display: grid;
  border-radius: 25px;
  background-color: #EEEEEE;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 10px gray solid;
}
div.sectionSmall{
  grid-template-columns: 1fr 1fr 1fr;
}
div.sectionMedium{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
div.sectionLarge{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

div.sectionHead{
  grid-column: 1/-1;
  grid-row: 1;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 5px;
}

div.subsection{
}
div.subsectionCentered{
  text-align: center;
}

div.sectionAll{
  grid-column: 1/ span 3;
}

p.subsectionListHead{
  grid-column: 1/ span 3;
  grid-row: 2;
  font-size: 1em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

p.subsectionList, p.subsectionListHead{
  height: 20px;
}

/**Bottom**/
div.bottom {
  grid-column: 1/ span 3;
  grid-row: 5;
  text-align: center;
}

a#weebly{
  color: black;
  text-decoration: none;
}
a#weebly:hover{
  color: gray;
  text-decoration: none;
}
